html {
	margin: 0;
	padding: 0;
}
body {
	background: url(images/summertheme.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: 100% 100%;
	background-position: center center;
	font: 11px verdana, sans-serif;
	

}

.buttonvapor {
  width: 70px;
  height: 50px;
  background-image: url('images/vaporwave.gif'); 
  background-size: 125%; 
  background-position: center center; 
} 


.buttonbliss {
  width: 70px;
  height: 50px;
  background-image: url('images/bliss.jpeg'); 
  background-size: 100%; 
  background-position: center center; 
} 

.buttonmatrix {
  width: 70px;
  height: 50px;
  background-image: url('images/matrix.gif'); 
  background-size: 100%; 
  background-position: center center; 
} 

.buttonsecret {
  width: 70px;
  height: 50px;
  background-image: url('images/mason.jpg'); 
  background-size: 100%; 
  background-position: center center; 
  opacity: 0%;
} 

.buttonfall {
  width: 70px;
  height: 50px;
  background-image: url('images/fall-season.gif'); 
  background-repeat: repeat;
  background-position: center center; 
} 

.buttonwinter {
  width: 70px;
  height: 50px;
  background-image: url('images/winter.gif'); 
  background-repeat: repeat;
  background-position: center center; 
} 

.buttonspring {
  width: 70px;
  height: 50px;
  background-image: url('images/spring.gif'); 
  background-repeat: repeat;
  background-position: center center; 
} 
.buttonsummer {
  width: 70px;
  height: 50px;
  background-image: url('images/summertheme.gif'); 
  background-repeat: repeat;
  background-position: center center; 
} 

.buttonalllinks {
	font-size:10px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 42%; left: 45%;
background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    animation: spiral 5s linear infinite;
 cursor: pointer;
color: #ffffff;
    background-size: 400% 100%;

}
.birdbutton {
  
  /* color: #341c12; */
  padding: 4px;
  font-size: 32px;
  /* background-color: transparent; */
  border: none;
  cursor: pointer;
  font-style:italic;
  position: absolute;
  margin: -80px 320px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1s ease-in-out infinite;
    background-size: 400% 100%;
} 
#headerdrag {
	height: 10px;
	background-color: transparent ;
	cursor: grab;
}
a {
	color: #736270;
/*#5F3E2F*/
	font-weight: bold;
	text-decoration: none;
}
add {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #3d6363;
/*#1D110B*/
	text-decoration: underline;
}
img {
	border: 0px;
}
#wrapper {
	width: 778px;
	margin: auto;
	text-align: left;
}
#header p {
	font-size:18px;
	font-style:italic;
	color:#FFFFFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	width:300px;
}
#header p.more {
	padding-right: 22px;
}
#header {
	height: 320px;
	background: url(images/headerxpnewfinal.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
#header div {
	padding: 30px 213px 0px 82px;
}
#header p {
	margin: 0px;
	padding: 0px;
}
#header a {
	color:#FFFFFF;
}
#nav {
	width: 750px;
	height: 48px;
	margin: 0px 0px 0px 20px;
	background-image:url(images/springtheme.png);
	background-repeat: repeat;
	display:inline;
	float:left;
	pointer-events: auto;

}
#nav a {
	font-size:18px;
	font-style:italic;
	color:#736270;
/*#260403*/
	font-family:Georgia, "Times New Roman", Times, serif;
	margin: 12px 0px 10px 0px;
	padding: 0px 20px 0px 20px;
	display:inline;
	float:left;
	border-right-width: 2px;
	border-right-style: inset;
	border-right-color: #76644f;
}
#nav a:hover {
	color:#736270;
/*#862e06*/
	text-decoration:none;
}
.lastchild {
	border-right: none 0px !important;
}
#body {
	font-size:16px;
	background: url(images/springtheme.png) repeat;
	clear: both;
	width: 100%;
	pointer-events: none;
}
#body-top {
	background: url(images/springtheme.png) repeat;
}
#body-bot {
	background: bottom url(images/springtheme.png) repeat;
	padding: 21px 25px 15px 42px;
	pointer-events: auto;

}
#about-box {
	float: left;
	width: 315px;
}
#about-box ul {
	margin-left: 8px;
}
#express-box {
	float: right;
	width: 327px;
}
#foot {
	font-size: 16px;
	width: 738px;
	margin-left: 20px;
	background: url(images/springtheme.png) repeat;
}
#foot-top {
	background: url(images/springtheme.png) repeat;
}
#foot-bot {
	background: bottom url(images/springtheme.png) repeat;
	padding: 13px 21px 12px 28px;
	pointer-events: auto;

}
#what-box {
	float: left;
	width: 332px;
}
#what-box img.left {
	margin-left: 10px;
}
#what-box ul {
	float: left;
	margin-left: 2px;
	width: 184px;
}
#news-box {
	float: right;
	width: 316px;
}
#news-box ul {
	float: left;
	margin-left: 2px;
	width: 184px;
}
#footer {
	margin: 14px;
	text-align: center;
}
h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-style:italic;

	color:#736270;
/*#862e06*/
}
h2 b{
	color:#736270;
}
/*#341c12*/
ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 0px 0px 5px 20px;
	list-style: none;
	background: 0px 3px url(images/chiptransparent.png) no-repeat;
	background-size: 4%;
}

bad {
	margin: 0px;
	padding: 0px 0px 5px 20px;
	list-style: none;
	background: 0px 8px url(images/uhh.png) no-repeat;
	background-size: 8%;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

kev {
	margin: 0px;
	padding: 10px 0px 5px 20px;
	list-style: none;
	background: 0px 8px url(images/kebin.png) no-repeat;
	background-size: 8%;

}

snk {
	margin: 0px;
	padding: 0px 0px 5px 20px;
	list-style: none;
	opacity: 0.0;

}
p {
	margin-top: 0px;
	margin-bottom: 10px;
}
div.narrow-text {
	margin-right: 18px;
}
img.left {
	float: left;
	padding-right: 14px;
	padding-bottom: 16px;
}
#body p.more {
	padding-top: 6px;
}
#news-box p.more {
	padding-top: 0px;
	margin-top: 0px;
}
p.more {
	text-align: right;
}
.clear {
	clear: both;
}

.zoom-in-out{
margin:-190px 475px;
  width: 200px;

  height: 100px;
 text-align: center;
	color:#ffe100;
  animation: zoom-in-zoom-out 1.5s ease infinite;
}
@keyframes zoom-in-zoom-out {

  0% {

    transform: rotate(25deg) scale(1.1, 1.1);
  }

  50% {

    transform: rotate(25deg) scale(1.25, 1.25);
  }

  100% {

    transform: rotate(25deg) scale(1.1, 1.1);
  }
}


h3 {
	margin: 0px;
	max-width: 200px;
	padding: 0px 0px 10px 0px;
	font:Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style:italic;
	
	color:#736270;
}
h3 b{
	color:#736270;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #736270;
  padding: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-style:italic;
  position: absolute;
  margin: 20px 200px;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin: 58px 0px;
  background-color: transparent;
  min-width: 300px;
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-birdcontent {
  display: none;
  position: absolute;
  margin: -400px 710px;
  background-color: transparent;
  min-width: 300px;
  z-index: 1;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#ad {
	/*padding: 100px 100px 300px 100px;*/
	list-style: none;
	/*background: url(images/ad1.png) no-repeat;*/
	position: absolute;
	top: 40%; left: 40px;

}
#addrag {
	font-size: 20px;
	border: none;
	background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    animation: rainbow_animation 1s ease-in-out infinite;
    background-size: 400% 100%;
	top: 40%; left: 40px;
    cursor: grab;
	text-align: center;
}
@keyframes spiral {

  0% {
	background-position: 0 0;
    transform: rotate(-360deg) scale(1,1);
  }

  50% {
	background-position: 100% 0;
    transform: rotate(0deg) scale(1.25,1.25);
  }
 
  100% {
	background-position: 0 0;
    transform: rotate(360deg) scale(1,1);
  }
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
